<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="container-fluid">
<form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="row">
    <div class="col-md-4 offset-2">
      <div class="form-floating mb-3">
        <input required [(ngModel)]="form.query" type="text" class="form-control" id="query" name="query" placeholder="For example Elon Musk"  #query="ngModel">
        <label for="query">Search query</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="query.errors && f.submitted">
          Query is required!
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-floating mb-3">
        <input required type="number" [(ngModel)]="form.max_results" [defaultValue]="100" class="form-control" id="max_results" name="max_results" placeholder="100"  #max_results="ngModel">
        <label for="max_results">Max results</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="max_results.errors && f.submitted">
          Max results  is required!
        </div>
      </div>
    </div>
    <div class="col-md-2">
        <button style="margin-top: 10px" class="btn btn-success">Search and analyze</button>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="analyzerResponse">
    <div class="col-md-3 offset-2">
      <h4>Text blob</h4>
      <p><b>Very negative:</b>{{analyzerResponse.sentiment_per_library.text_blob_very_negative}}</p>
      <p><b>Negative:</b>{{analyzerResponse.sentiment_per_library.text_blob_negative}}</p>
      <p><b>Neutral:</b>{{analyzerResponse.sentiment_per_library.text_blob_neutral}}</p>
      <p><b>Positive:</b>{{analyzerResponse.sentiment_per_library.text_blob_positive}}</p>
      <p><b>Very positive:</b>{{analyzerResponse.sentiment_per_library.text_blob_very_positive}}</p>
    </div>
    <div class="col-md-3">
      <h4>Pattern</h4>
      <p><b>Very negative:</b>{{analyzerResponse.sentiment_per_library.pattern_very_negative}}</p>
      <p><b>Negative:</b>{{analyzerResponse.sentiment_per_library.pattern_negative}}</p>
      <p><b>Neutral:</b>{{analyzerResponse.sentiment_per_library.pattern_neutral}}</p>
      <p><b>Positive:</b>{{analyzerResponse.sentiment_per_library.pattern_positive}}</p>
      <p><b>Very positive:</b>{{analyzerResponse.sentiment_per_library.pattern_very_positive}}</p>
    </div>
    <div class="col-md-3">
      <h4>Vader</h4>
      <p><b>Very negative:</b>{{analyzerResponse.sentiment_per_library.vader_very_negative}}</p>
      <p><b>Negative:</b>{{analyzerResponse.sentiment_per_library.vader_negative}}</p>
      <p><b>Neutral:</b>{{analyzerResponse.sentiment_per_library.vader_neutral}}</p>
      <p><b>Positive:</b>{{analyzerResponse.sentiment_per_library.vader_positive}}</p>
      <p><b>Very positive:</b>{{analyzerResponse.sentiment_per_library.vader_very_positive}}</p>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="analyzerResponse">
    <div class="col-md-4">
      <app-pie [data]="dataForPie.textBlob" title="Text Blob result"></app-pie>
    </div>
    <div class="col-md-4">
      <app-pie [data]="dataForPie.pattern" title="Pattern result"></app-pie>
    </div>
    <div class="col-md-4">
      <app-pie [data]="dataForPie.vader" title="Vader result"></app-pie>
    </div>
  </div>
  <div style="margin-top: 10px" class="row" *ngIf="analyzerResponse">
    <div class="col-md-6">
      <app-radar [data]="dataForRadar" [max]="form.max_results"></app-radar>
    </div>
    <div class="col-md-6">
      <app-pie-diff [data]="dataForPie.general"></app-pie-diff>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="analyzerResponse">
    <div class="col-md-4 offset-3">
      <h4>Text blob</h4>
      <p><b>TP:</b>{{analyzerResponse.f_score[0].TP}}</p>
      <p><b>TN:</b>{{analyzerResponse.f_score[0].TN}}</p>
      <p><b>FP:</b>{{analyzerResponse.f_score[0].FP}}</p>
      <p><b>FN:</b>{{analyzerResponse.f_score[0].FN}}</p>
      <p><b>F Score:</b>{{analyzerResponse.f_score[0].F_SCORE}}</p>
    </div>
    <div class="col-md-4">
      <h4>Pattern</h4>
      <p><b>TP:</b>{{analyzerResponse.f_score[1].TP}}</p>
      <p><b>TN:</b>{{analyzerResponse.f_score[1].TN}}</p>
      <p><b>FP:</b>{{analyzerResponse.f_score[1].FP}}</p>
      <p><b>FN:</b>{{analyzerResponse.f_score[1].FN}}</p>
      <p><b>F Score:</b>{{analyzerResponse.f_score[1].F_SCORE}}</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12" *ngIf="analyzerResponse">
      <table class="table table-bordered table-striped table-hover" datatable>
        <thead>
        <tr>
          <th>Tweet</th>
          <th>Text Blob</th>
          <th>Pattern</th>
          <th>Vader</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tweet of analyzerResponse.analyzed_tweets">
          <td>{{ tweet.original }}</td>
          <td><span class="badge rounded-pill {{getColor(tweet.text_blob)}}">{{tweet.text_blob}}</span></td>
          <td><span class="badge rounded-pill {{getColor(tweet.pattern)}}">{{tweet.pattern}}</span></td>
          <td><span class="badge rounded-pill {{getColor(tweet.vader)}}">{{tweet.vader}}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
</div>
